/* Général */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
}

:root{
    --primary-color:#363450;
    --second-color:#30CD8A;
    --third-color:#e34e67;
    --color:#423b73;
    --dark-background-color:#1e1d31;
    --open-sans:'Open Sans', sans-serif;
    --pacifico:'Pacifico', cursive;
    --oswald:'Oswald', sans-serif;
}

.main_title{
    color:var(--third-color);
    font-family: var(--pacifico);
    font-size: 23px;
    font-weight: 100;
}
.secondary_main_title{
    color:var(--color);
    font-family: var(--oswald);
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
}
.subtitle{
    color:var(--second-color);
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
p{
    color: var(--color);
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: 400;
}
a{
    color:  var(--color);
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition:all 0.2s ease;
}
a:hover{
    transition:all 0.2s ease;
    color: var(--third-color);
}
.paddings_responsive{
    padding:0 15px; 
}

/* Header */
header{
    max-width: 1440px;
    margin:auto;
    padding:50px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger_menu{
    display: none;
}
header nav ul{
    list-style: none;
    display: flex;
    gap:50px;
    padding: 0;
}
/* Footer */
footer{
    background-color: var(--primary-color);
}
footer>div{
    max-width: 1440px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
footer h2{
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    margin:30px 0;
}
footer>div p,
footer>div ul a{
    color:#fff;
}
footer ul{
    padding: 0;
    list-style: none;
    margin-top: -10px;
}
footer li{
    line-height: 2.5;
}
footer div a:hover{
    color: var(--second-color);
}
footer>p{
    background-color: #fff;
    padding:20px;
    text-align: center;
}
/* Main */
/* Section:Skills */
#skills{
    max-width: 1440px;
    margin:80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:120px;
    align-items: center;
}
#skills>article{
    max-width: 90%;
}
#skills img{
    width:100%;
}
.button_block{
    margin-top: 25px;
    display: flex;
    gap:30px;
}
.inscription_button{
    background-color: var(--second-color);
    border:1px solid var(--second-color);
    color:#fff;
    padding:12px 30px;
    border-radius: 10px;
}
.contact_button_link{
    border:1px solid var(--second-color);
    color: var(--second-color);
    padding:12px 30px;
    border-radius: 10px;
}
.inscription_button:hover{
    color: var(--second-color);
    background-color: #fff;
}
.contact_button_link:hover{
    background-color: var(--second-color);
    color:#fff;
}
/* Section:Accompagnements */
#accompagnements{
    background-color: var(--dark-background-color);
    padding:80px 0;
}
#accompagnements>div:nth-child(1){
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:80px;
}
#accompagnements article{
    display: flex;
    gap:30px;
    align-items: center;
}
#accompagnements h3{
    margin-bottom: 20px;
}
#accompagnements p{
    color:#fff;
}
#accompagnements>div:nth-child(2){
    max-width: 1440px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
#accompagnements .contact_button_link{
    display: inline-block;
}
/* Section: Team */
#team{
    max-width: 1440px;
    margin:80px auto;
}
#team>article{
    max-width: 640px;
    margin:auto;
    text-align: center;
}
#team>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
    margin-top: 80px;
}
#team .teamworker{
    display: flex;
    align-items: center;
    gap:30px;
}
#team .teamworker h3{
    font-size: 24px;
    color: var(--color);
    text-transform: initial;
}
#team .description{
    background-color: var(--dark-background-color);
    padding: 40px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
}
#team div article{
    padding:40px;
}
#team .teamworker p{
    color:var(--second-color);
}
/* Section : services */
#services{
    max-width: 1440px;
    margin:80px auto;
}
#services .titlezone{
    max-width: 640px;
    margin: auto;
    text-align: center;
}
#services ul{
    list-style: none;
    padding:0;
}
#services ul li{
    color:#fff;
    line-height: 2.4;
    font-family: var(--open-sans);
    font-size: 16px;
}
#services ul li::before{
    content:url(../img/check\ liste.png);
    margin-right: 12px;
}
#services .buttonzone{
    text-align: center;
    position: relative;
    top: 65px;
}
/* Section: services - accompagnement perso */
#accompagnementperso,
#smallgroup{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 230px;
}
#accompagnementperso > div > div:nth-child(1),
#smallgroup > div > div:nth-child(1){
    background-color: var(--dark-background-color);
    border-radius: 10px 0 0 10px;
    padding: 40px;
}
#accompagnementperso h3,
#smallgroup h3{
    font-size: 28px;
    margin-bottom: 20px;
}
/* Section:services - small group */
#smallgroup{
    grid-template-columns: 1fr 3fr;
}
#smallgroup > div > div:nth-child(1){
    border-radius: 0 10px 10px 0;
}
/* Section: contact */
#contact{
    max-width: 1440px;
    margin:80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:80px;
    align-items: center;
}
#contact>article{
    width:70%;
}
#contact>div{
    background-color: var(--dark-background-color);
    padding:40px;
    border-radius: 10px;
}
#contact>div>.subtitle{
    font-size: 38px;
    color:#fff;
    text-align: center;
    margin-bottom: 30px;
}
#contact form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
#contact input,
#contact textarea,
#contact select{
    background-color: transparent;
    border:1px solid var(--second-color);
    color:#fff;
    padding-left: 12px;
}
#contact input,
#contact select{
    height:30px;
}
#contact input::placeholder,
#contact textarea::placeholder,
#contact select option,
#contact label{
    color:#fff;
    font-size: 16px;
    font-family: var(--open-sans);
}
select option{
    background-color: var(--dark-background-color);
}
#company,
#mail,
textarea,
label,
select{
    grid-column:1/3;
}
form{
    font-size: 16px;
    font-family: var(--open-sans);
}
label input{
    height: auto !important;
}
#submit{
    border-radius: 10px;
    background-color: var(--second-color)!important;
    height: auto!important;
    width: 203px;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
}
#submit:hover{
    cursor: pointer;
    background-color: var(--third-color)!important;
    border-color:var(--third-color)!important;
}
/* Responsive */
@media screen and (max-width: 1090px){
    nav{
        display: none;
    }
    .burger_menu{
        display: block;
        width:50px;
        text-align: end;
    }
}
@media screen and (max-width:1024px){
    #accompagnements>div:nth-child(1),
    #team>div,
    #accompagnementperso,
    #smallgroup,
    #contact{
        grid-template-columns: 1fr;
    }
    footer>div{
        grid-template-columns: repeat(2,1fr);
    }
    #accompagnementperso img,
    #smallgroup img{
        grid-row: 1;
        margin:auto;
    }
    #accompagnementperso > div > div:nth-child(1),
    #smallgroup > div > div:nth-child(1){
        border-radius: 10px;
    }
}
@media screen and (max-width:767px){
    header>a{
        width:80%;
    }
    header>a img{
        width:100%;
    }
    #skills,
    footer>div{
        grid-template-columns: 1fr;
    }
    #contact form{
        grid-template-columns: auto;
    }
    #company, #mail, textarea, label, select{
        
        grid-column: 1;
    }
    select {
        width: 100%;
    }
    #contact>div{
        padding:10px;
    }
    #accompagnementperso img, #smallgroup img{
        width:100%;
        margin-bottom: 20px;
    }
    .inscription_button,
    .contact_button_link{
        display: block;
    }
    .button_block{
        flex-direction: column;
        text-align: center;
    }
    #accompagnementperso > div > div:nth-child(1), #smallgroup > div > div:nth-child(1){
        padding:10px;
    }

    /* Rajout demandé par les étudiants */
    header{
        padding:20px 15px;
    }
    #skills,
    #team,
    #services,
    #contact{
        margin:40px auto;
    }
    .secondary_main_title{
        font-size: 28px;
    }
    .main_title{
        font-size: 18px;
    }
    #accompagnements h3{
        text-align: center;
    }
    #accompagnements article,#team .teamworker{
        display: grid;
    }
    #accompagnements article img,#team .teamworker img{
        margin:auto;
    }
    #team div article{
        padding:10px;
    }
    #accompagnementperso h3, #smallgroup h3{
        font-size: 20px;
        margin-top: 20px;
    }
    #services ul{
        margin-bottom: 20px;
    }
    #accompagnementperso, #smallgroup{
        margin-bottom: 130px;
    }
    #contact>div>.subtitle{
        font-size: 24px;
    }
}


/* projet js initiation */
#admin{
    background-color: var(--dark-background-color);
}
#darkmode{
    color:#fff;
    background-color: var(--second-color);
    cursor:pointer;
}

/* Changement de couleur */

.darkmondeon,
.darkmondeon footer>p{
    background-color: var(--dark-background-color);
}

.darkmondeon .secondary_main_title,
.darkmondeon #team .teamworker h3,
.darkmondeon p,
.darkmondeon a{
    color:#fff;
}

.darkmondeon .burger_menu i{
    color:#fff;
}

/* Menu responsive */

.active{
    display: block;
    position: absolute;
    right: 0;
    top:156px;
    background-color: var(--dark-background-color);
}
.active ul{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.active a{
    color:#fff;
}

/* Modales */

.form-container{
     width: 500px !important;
     position: fixed;
     background-color:var(--dark-background-color);
     height: 380px;
     top: calc(50% - 170px);
     left: calc(50% - 250px);
     padding:40px;
     display: grid;
    align-items: center;
    grid-template-rows: 30px auto;
}

.form-container input{
    border:1px solid var(--second-color);
    height:30px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.form-container i{
    color:#fff;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    cursor:pointer;
}

.form-container button{
    border: 1px solid var(--second-color);
    color: var(--second-color);
    padding: 12px 30px;
    border-radius: 10px;
    transition: all 0.2s ease;
    background-color: transparent;
    cursor: pointer;
}

.form-container button:hover{
    background-color: var(--second-color);
    color:#fff;
    transition: all 0.2s ease;
}

dialog {
    background-color: var(--dark-background-color);
    padding: 40px;
    border-radius: 10px;
    max-width: 690px;
    margin:80px auto;
}

dialog form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

dialog i{
    color:#fff;
    position: absolute;
    right: 15px;
    top: 15px;
}

dialog .subtitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    color:#fff;
}

dialog input::placeholder, dialog textarea::placeholder, dialog select option, dialog label {
    color: #fff;
    font-size: 16px;
    font-family: var(--open-sans);
}

dialog input::placeholder{
    color:#000;
}

dialog p{
    margin-top: 30px;
    color:#fff;
}